# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive files
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Terraform plan files
*.tfplan
*.plan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform dependency lock file
.terraform.lock.hcl

